## This is a test Jupyter Notebook

In [1]:
print("I really hope this works!")

I really hope this works!

In [2]:
import pandas as pd

In [3]:
data = {
    "fname": ["Hayden", "Andrea"],
    "lname": ["Hoopes", "Ospina"]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

    fname   lname
0  Hayden  Hoopes
1  Andrea  Ospina